.row img{
    width:300px;
    float:left;
    height:auto !important;
}
.container{
    text-align: center !important;
    width:100%;
}
.row{
    margin-top:0;
}
p{
    font-family:"Fjalla One", sans-serif !important;
    font-size: 20px;
}

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.panel-footer panel-primary{
	background-color: black;
}

.carousel-caption a {
	text-transform: uppercase;
	background: #518551;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.carousel-caption h2{

	text-transform: uppercase;
	font-weight: bold;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color:#6835966b;
    border-radius: .3rem;
}
